#UIMeetingSchedulePortlet {
	.uiMention {
		margin-bottom: 6px;
		&.disabled {
			background-color: #eee;
			color: #aaa;
			border-color: #ccc;
		}
	}
	.table {
		.row-white {
			td {
				padding-top: 15px;
				padding-bottom: 15px;
				background-color: #fff!important;
			}
		}
		.column-white {
			background-color: #fff!important;
		}
		.meeting, .active, .me {
			td {
				background-color: #D7F8D5;
			}
		}
		.center {
			text-align: center!important;
		}
		.right {
			text-align: right!important;
		}
		.left {
			text-align: left!important;
		}
	}
	.table-metting {
		.delete-all {
			margin-right: 8px;
		}
		&.card-view {
			table-layout: fixed;
		}
		.row-action {
			th, td {
				text-align: center;
				border: none;
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}
		caption {
			background-color: #f0f0f0;
			border: 1px solid #cccccc;
			border-bottom: none;
			/*-webkit-box-shadow: 0 1px 2px rgba(13, 13, 13, 0.2);
			-moz-box-shadow: 0 1px 2px rgba(13, 13, 13, 0.2);
			box-shadow: 0 1px 2px rgba(13, 13, 13, 0.2);*/
			-webkit-border-radius: 3px 3px 0 0;
			-moz-border-radius: 3px 3px 0 0;
			border-radius: 3px 3px 0 0;
			padding: 8px 10px;
			line-height: 20px;
			margin: 0;
			word-wrap: break-word;
			.actionIcon {
			margin: -3px 0;
			}
		}
		th a {
			display: inline-block;
			color: #333;
			.uiIconMiniArrowUp, .uiIconMiniArrowDown {
				margin-top: 3px;
			}
		}
		.select-column {
			width: 23px;
		}
		.member-column {
			width: 25%;
		}
		.meeting-name {
			font-size: 14px;
		}
		.time-column {
			width: 30%;
		}
		.name-column {
			width: 28.5%;
		}
		.expire-vote {
			margin-top: 5px;
			position: relative;
			font-style: italic;
			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				height: 1px;
				width: 5px;
				background-color: rgba(0, 0, 0, 0.5);
			}
			> small {
				display: inline-block;
				padding-top: 3px;
			}
		}
		&:last-child{
			margin-bottom: 0;
		}
		.list-time {
			margin-left: 12px;
			margin-bottom: 0;
			> li {
				list-style: disc;
				&.muted {
					text-decoration: line-through;
				}
				del {
					//color: #999;
				}
				+ li {
					margin-top: 5px;
				}
			}
		}
	}
	.table-metting-vote {
		.vote-column {
			width: 85px;
			text-align: center;
			line-height: 18px;
			div {
				font-size: 12px;
				font-weight: normal;
			}
			h5 {
				margin: 0;
			}
		}
		tfoot {
			tr td {
				background-color: #F0F0F0;
			}
		}
	}
	.detail-meeting {
		.span3 {
			background-color: #f8f8f8;
			border-radius: 5px;
		}
		.sub-info {
			padding: 15px;
			hr {
				border-top-color: #ddd;
			}
		}
	}
	.control-text {
		line-height: 20px;
		margin-top: 5px;
	}

	.UIComboboxList {
		z-index: 9;
		position: absolute;
	}
	.select-time-meeting {
		.controls .date,
		.controls .time {
			margin-right: 10px;
		}
	}
	.row-select-time {
		.control-text {
			margin-right: 10px;
		}
		+.row-select-time {
			clear: both;
			margin-top: 10px;
		}
	}
	.form-horizontal {
		padding-top: 10px;
	}
}
.list-card-meeting {
	+ .list-card-meeting {
		margin-top: 20px;
	}
}
.card-meeting {
	border: 1px solid #ddd;
	position: relative;
	.time-meeting {
		color: #2f5e92;
		text-align: center;
		display: inline-block;
		font-weight: bold;
		font-size: 16px;
		height: 40px;
	}
	.action {
		position: absolute;
		right: 3px;
		bottom: 3px;
		display: none;
	}
	&:hover {
		background-color: #f9f9f9;
		.action {
			display: block;
		}
		&:before {
			border-right-color: #aaa;
		}
	}
	&.today {
		border-color: #2f5e92;
		background-color: #f7f7f7;
		&:before {
			border-right-color: #2f5e92;
		}
	}
	&:before {
		content: "";
		position: absolute;
		top: -1px;
		right: -1px;
		border-top: 0px solid transparent;
		border-bottom: 70px solid transparent;
		border-right: 70px solid #ccc;
	}
	.uiMention {
		margin-bottom: 0!important;
		margin-top: 6px;
	}
	> .inner {
		padding: 10px;
		display: inline-block;
	}
	.title {
		font-size: 14px;
		margin-bottom: 5px;
	}
	.desc {
		height: 60px;
		overflow: hidden;
		display: block;
		font-style: italic;
		margin-bottom: 3px;
	}
	.joined {
		font-weight: bold;
		font-style: italic;
		font-size: 12px;
	}
	.date-time {
		color: #fff;
		position: absolute;
		right: 5px;
		top: 2px;
		text-align: right;
		.date {
			color: #fff;
			font-size: 20px;
			font-weight: bold;
			display: block;
		}
	}
}
.UIComboboxList {
	padding-top: 28px;
	padding-left: 7px;

	.UIComboboxContainer {
		display: none;
		height: 150px;
		overflow: auto;
		background-color: #fff;
	}
}


// HACK FOR CHROME
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
	#UIMeetingSchedulePortlet .table-metting .list-time {
		margin-left: 15px;
	}
}